# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
env/
.textcloud_venv/
.venv/
*.venv

# Streamlit cache
.streamlit/

# AWS credentials or env files
*.env
.env*
text2cloud/config/secrets.env

# Mac system files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
logs/
*.log

# Large datasets
LibriSpeech/
data/

